<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletDispatcher</servlet-name>
        <servlet-class>nhanqt.controller.ServletDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>nhanqt.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>nhanqt.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPageServlet</servlet-name>
        <servlet-class>nhanqt.controller.AdminPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>nhanqt.controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>nhanqt.controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>nhanqt.controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>nhanqt.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>nhanqt.controller.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAmountServlet</servlet-name>
        <servlet-class>nhanqt.controller.UpdateAmountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateItemServlet</servlet-name>
        <servlet-class>nhanqt.controller.CreateItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayProductServlet</servlet-name>
        <servlet-class>nhanqt.controller.PayProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>nhanqt.controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterGgAccount</servlet-name>
        <servlet-class>nhanqt.controller.RegisterGgAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <servlet-class>nhanqt.controller.ViewHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetail</servlet-name>
        <servlet-class>nhanqt.controller.ViewOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayByVNPayServlet</servlet-name>
        <servlet-class>nhanqt.controller.PayByVNPayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDispatcher</servlet-name>
        <url-pattern>/ServletDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPageServlet</servlet-name>
        <url-pattern>/AdminPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/HomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/DeleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAmountServlet</servlet-name>
        <url-pattern>/UpdateAmountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateItemServlet</servlet-name>
        <url-pattern>/CreateItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayProductServlet</servlet-name>
        <url-pattern>/PayProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterGgAccount</servlet-name>
        <url-pattern>/RegisterGgAccount</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>nhanqt.utils.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <url-pattern>/ViewHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetail</servlet-name>
        <url-pattern>/ViewOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayByVNPayServlet</servlet-name>
        <url-pattern>/PayByVNPayServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>startPage.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>SE140052</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
</web-app>
